* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: ui-monospace, sans-serif;
  color: #FAFAFA;
  font-size: 62.5%;
}

body {
  margin: 0;
  background: #121212;
  padding: 20px;
  font-size: 2.3rem;
  text-align: center;
}
