@use '../lib/src/colors' as c;

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: ui-monospace, sans-serif;
  color: c.$white;
  font-size: 62.5%;
}

body {
  margin: 0;
  background: c.$blue-950;
  padding: 20px;
  font-size: 2.3rem;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4 {
  line-height: 2;
  text-align: center;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 3rem;
}

button {
  display: block;
  margin: auto;
  font-family: ui-monospace, monospace;
  font-size: 2rem;
  margin-top: 1rem;
  color: c.$blue-200;
  background: c.$blue-850;
  border: 0.1rem solid c.$blue-750;
  border-radius: 0.4rem;
  padding: 1rem 1.2rem;
  cursor: pointer;
  &:hover {
    background: c.$blue-750;
  }
}
